.header {
  width: 90%;
  height: 70px;
  background-color: #565050;
  border-radius: 25px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.header-logo {
  font-size: 22px;
  font-weight: 600;
  font-family: 'Poppins', cursive;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.header-link:hover {
  color: #ddd;
}
